doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		
		meta(name='description', content='Open Source Free Judge System')
		meta(name='author', content='Alex Tsvetanov')
		meta(name='keywords', content='Judge, Online, System, Programming, Languages, Algorithms')
		meta(name='distribution', content='web')
		meta(name='robots', content='index, follow')
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(rel='icon', href='/favicon.png')
		title Judge :: TechEdu ++
		link(href='/css/jumbotron.css', rel='stylesheet')
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700')
		link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-material-design.min.css')
		link(rel='stylesheet', href='/css/ripples.min.css')
		link(rel='stylesheet', href='/css/snackbar.min.css')
		link(rel='stylesheet', href='/css/extension.css')
		link(rel='stylesheet', href='/d9757859af.css')
		block styles
		
	body(cz-shortcut-listen="true")
		block classes
		nav.navbar.navbar-static-top.navbar-default
			.container
				.nav-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#') TechEdu ++
				.navbar-collapse.collapse.navbar-responsive-collapse
					ul.nav.navbar-nav
						li.nav-item(class=typeof homeclass === "undefined" ? "" : "active")
							a.nav-link(href=typeof homeclass === "undefined" ? '/' : "#") Home
					form.navbar-form.navbar-left(role="search", action="/search.php")
						.form-group.is-empty
							input.form-control.col-md-8(placeholder='Search', name="pattern", type='text')
					ul.nav.navbar-nav.navbar-right
						li.nav-item(id="login", class=typeof loginclass === "undefined" ? "" : "active")
						li.nav-item(class=typeof registerclass === "undefined" ? "" : "active")
							a.nav-link(href='/register.php') Register
						li.nav-item(class=typeof homeclass === "undefined" ? "" : "active", style="border-right: rgba(0,0,0,0) solid 20px;")
							a.nav-link(href='/user.php') 
								|Hi
								|<?php if (isset($_COOKIE ["name"])) { echo ", "; echo $_COOKIE ["name"]; } ?>
		block jumbotron
			
		block container
			
		footer
			.container.container-holder
				ul.row
					li.col-md-3.col-sm-12.col-xs-12.footer-list-wrapper
						h3.list-title TechEdu ++
						hr
						ul.footer-list
							li
								a(href='//infocourse.techedu.cf/aboutus.php') About us
							li
								a(href='//infocourse.techedu.cf/aboutus.php#trainers') Trainers
					li.col-md-3.col-sm-12.col-xs-12.footer-list-wrapper
						h3.list-title Courses &amp; Seminars
						hr
						ul.footer-list
							li
								a(href='//infocourse.techedu.cf/trainings/tracks') Tracks
							li
								a(href='//infocourse.techedu.cf/trainings/courses') Courses
							li
								a(href='//infocourse.techedu.cf/trainings/seminars') Seminars
					li.col-md-3.col-sm-12.col-xs-12.footer-list-wrapper
						h3.list-title Our partners
						hr
						ul.footer-list
							li
								a(target='_blank', href='https://delta.bg/') Delta.BG
					li.col-md-3.col-sm-12.col-xs-12.footer-list-wrapper
						ul.social
							li
								a.icon-btn(href='https://facebook.com/TechEducationGroup/', target='_blank')
									span.fa.fa-2x.fa-facebook
							li
								a.icon-btn(href='https://www.youtube.com/channel/UCT1g_MbzP5UJauAqmvNq1aQ', target='_blank')
									span.fa.fa-2x.fa-youtube-play
							li
								a.icon-btn(href='http://github.com/TechEducationPlusPlus/', target='_blank')
									span.fa.fa-2x.fa-github
						.all-rights-reserved
							p &copy; 2017 TechEdu ++
							p All Rights Reserved.
							p TechEdu ++ Judge System

		script(src='/js/jquery.min.js')
		script(src="/js/tether.min.js")
		script(src='/js/bootstrap.min.js')
		script(src="/js/material.min.js")
		script(src="/js/ripples.min.js")
		script(src="/js/snackbar.min.js")
		script(src="/js/jquery.nouislider.min.js")
		script(src='/js/jquery.cookie.js')
		script(src='/js/main.js')
		block js
